.App-header{
  height: 120px;
  background-color: #FFEBFE;
  /* text-align: center; */
}
.App-header span{
  font-size: 50px;
  text-align: center;
}
.Login{
  height: 110px;
  float: right;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.LoginInput{
  color: #C9A3B6;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.LoginInput input{
  border: 1px solid #C9A3B6;
  background-color: #FFFFFF;
  width: 140px;
  height: 17px; 
}
.loginBut button{
  border: 1px solid #C9A3B6;
  height: 44px;
  background-color: #FFFFFF;
  color: #C9A3B6;
  margin-left: 3px;
}
.joinBut button{
  border: 1px solid #C9A3B6;
  height: 44px;
  background-color: #C9A3B6;
  color: #FFFFFF;
  margin-left: 3px;
  margin-right: 4px;
}
/* .middle{
  background-color: pink;
  margin-top: 5px;
  margin-bottom: 5px;
} */
.main{
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: stretch; */
  align-items: center;
  /* margin-left: 10px;
  margin-right: 10px; */
  /* height: 2000px; */
}
/* .Menu{
  margin-left: 10px;
  width: 170px;
  height: 700px; 
  background-color: #b19d9d;
} */
.Calendar{
  display: flex;
  flex-direction: row;
  height: 700px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #FFFBFE;
  font-size: 19px;
}
.Calendar .realCal{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.Calendar .CalTop{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.CalTop button{
  border: 1px solid #EDC7DA;
  background-color: #EDC7DA;
  color: #FFFFFF;
  margin-right: 90px;
  margin-left: 90px;
  width: 110px;
  height: 30px;
}
.Calendar table{
  /* display: flex; */
  width: 500px;
  height: 500px;
}
.Calendar table tbody{
  display: flex;
  flex-direction: column;
}
.Calendar tr{
  display: flex;
  flex-direction: row;
}
.Calendar td{
  display: flex;
  border:1px solid gray;
  width: 120px;
  height: 100px;
}
.AboutToday{
  background-color: #EBF7FF;
  height: 500px;
  flex-grow: 0.6;
  display: flex;
  flex-direction: column;
  /* align-items: baseline; */
  /* justify-content: center; */
  margin-top: 100px;
}
.AboutToday h3{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 35px;
}
.AboutToday input{
  margin-left: 15px;
}
.Adding {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 25px;
  margin-top: 20px;
}
.Adding button{
  border: 1px solid #C9A3B6;
  background-color: #FFFFFF;
  color: #C9A3B6;
}
.Adding input{
  border: 1px solid #C9A3B6;
  background-color: #FFFFFF;
  width: 250px;
}
.content2{
  flex-grow:1;
  background-color: #93f0f7;
}
.footer{
  height: 100px;
  background-color: #F5F5F5;
}
/* flex 참고 : https://studiomeal.com/archives/197 */